/APCourseProject/nbproject/private/
/APCourseProject/build/
/APCourseProject/dist/
/JavaFXApplication14/nbproject/private/
/JavaFXApplication14/dist/
/JavaFXApplication14/build/
*.class
*.classpath
*.project
/bin